  
{% if user.is_authenticated %}
<h5>Welcome back,
    {% if user.first_name != '' %}
        {{user.first_name}}
    {% else %}    
        {{user.username.title}}
    {% endif %}  
</h5>  
{% else %}    
<h5>Please <a id="login" href={% url 'login' %} >login </a>to vote for a topic</h5>
{% endif %}

{% block content %}
    <h1>Current Polls</h1>    
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    <li><a id="q{{ question.id }}" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% if user.is_authenticated %}
<a href="{% url 'logout' %}">logout</a>
{% endif %}
{% endblock %}