{% extends 'polls/base.html' %}
<!-- SIVANAT 6110545643 -->
{% block content %}

    {% if latest_question_list %}
    <table>

        {% for question in latest_question_list %}
        <tr>
            <td><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></td>
            <td>
                <p>{{question.pub_date}}</p>
            </td>
        </tr>
        {% endfor %}

    </table>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}

{% endblock %}